.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.week div {
  display: inline-block;
}

/* .d-inline{
  display: inline;
  padding: 5px;
} */

.month-block-header div {
  display: inline;
}

.week-days-header div {
  display: inline-block;
}

.day {
  width: 120px;
  height: 70px;
  cursor: pointer;
}

/* .day div:hover  {
  cursor: pointer;
} */

.week-day {
  margin: 10px;
  padding-right: 47px;
  padding-left: 29px;
}

.bg-gray {
  background-color: grey;
}